--- 
layout: resume 
---

<!-- <div class="h1 post-title">Mike Norton - Quality Assurance Lead</div>


<h2>SKILLS</h2>

<h2>TECHNOLOGIES</h2>

<h2>EXPERIENCE</h2> -->

    <!-- where: "categories", "qa" | -->
    {% assign experiencelist = site.experience | sort: "order" %} {% for experience in experiencelist reversed %}
    <p>
        <strong>{{experience.title}}</strong>,
        <em>{{experience.employer}}</em> {{experience.startdate}} - {{experience.enddate}} </p>
    {{experience.content}} {% endfor %}

<!-- 
<h2>EDUCATION</h2>
<p>{% include education.html %}</p>

<h2>PERSONAL</h2>
<p>{% include personal.html %}</p> -->
